<div class="container">

  <div class="tophead"> 
    <i class="fa fa-phone"></i><span>(+212) 628 466 465</span>
    <i class="fa fa-envelope"></i><span>Azeroual.anss2015@gmail.com</span>
    <i class="fa fa-skype"></i><span>Azeroual Anass IT</span>
    <i class="fa fa-linkedin-square"></i><span>Azeroual Anass IT</span>
  </div>
  <div class="barS"></div>

  <div class="headbox bgColor1">
    <div class="row">
      <div class="col-md-3">
        <div class="box_avatar">
          <img src="assets/img/avatar/avatar.jpg" class="photoCV" alt="Photo Azeroual Anass">
        </div>
      </div>
      <div class="col-md-3 noPadding">
        <div class="name">
            <p>azeroual</p>
            <p>anass</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="aboutMe">
          <p> {{title}} </p>
          <p>{{status}}</p>
          <p>{{details}}. </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="contactMe">
          <div class="row" >
                <div class="col-2 proprety"><i class="fa fa-user"></i></div>
                <div class="col-auto value">27 ans, Célibataire</div>
          </div>
          <div class="row" >
              <div class="col-2 proprety"><i class="fa fa-map-marker"></i></div>
              <div class="col-auto value">Casablanca , Tamaris</div>
        </div>
        </div>
      </div>
    </div>
    <nav></nav>
  </div>
  
  <div class="barS"></div>

</div>