<div class="container">

  <div class="tophead"> 
    <i class="fa fa-phone"></i><span>(+212)628466465</span>
    <i class="fa fa-envelope"></i><span>Azeroual.anss2015@gmail.com</span>
    <i class="fa fa-skype"></i><span>Azeroual Anass IT</span>
    <i class="fa fa-linkedin-square"></i><span>Azeroual Anass IT</span>
  </div>
  <div class="barS"></div>

  <div class="headbox bgColor1">
    <div class="row">
      <div class="col-md-3">
        <img src="https://picsum.photos/200" class="photoCV" alt="Photo Azeroual Anass">
      </div>
      <div class="col-md-3 noPadding">
        <div class="name">
            <p>azeroual</p>
            <p>anass</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="aboutMe">
          <p>web développeur </p>
          <p>disponible</p>
          <p>La curiosité de savoir c'est le secret du succès
              motivé, créatif, enthousiaste et perspicace. </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="contactMe">
          <div class="row" >
                <div class="col-2 proprety"><i class="fa fa-user"></i></div>
                <div class="col-auto value">27 ans, Célibataire</div>
          </div>
          <div class="row" >
              <div class="col-2 proprety"><i class="fa fa-map-marker"></i></div>
              <div class="col-auto value">Casablanca , Tamaris</div>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center p-2"> <a [routerLink]="[ '/formation' ]" class="btn-1 btn-style btn-animated">Formation</a> </div>
        <div class="col-md-3 text-center p-2"> <a [routerLink]="[ '/experience' ]" class="btn-1 btn-style btn-animated">Experience</a> </div>
        <div class="col-md-3 text-center p-2"> <a [routerLink]="[ '/contact' ]" class="btn-1 btn-style btn-animated">Contact Me </a> </div>
        <div class="col-md-3 text-center p-2"> <a href="#" class="btn-1 btn-style btn-animated">More about me</a> </div>
    </div>
  </div>
  
  <div class="barS"></div>

</div>