input{
    transition: all .4s ease-in-out;
    color: rgb(168, 167, 167);
}
input[type=email] {
    background-color:rgb(52,57,60);
    border: 1.75px solid rgb(52,57,60);
}
input[type=email]:focus{
    box-shadow: 0 0 0 0.2rem transparent;
    border-bottom: 1px solid rgb(219, 219, 208);
    color: #eee;
}
input[type=text] {
    background-color:rgb(52,57,60);
    border: 1px solid rgb(52,57,60);
}
input[type=text]:focus{
    box-shadow: 0 0 0 0.2rem transparent;
    border-bottom: 1px solid rgb(219, 219, 208);
    color: #eee;
}
textarea{
    color: rgb(168, 167, 167);
    box-shadow: 0 0 0 0.2rem transparent;
    background-color:rgb(52,57,60);
    border-color: transparent;
}
textarea:focus{
    color: #eee;
    background-color:rgb(52,57,60);
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem transparent;
    border-bottom: 1px solid rgb(219, 219, 208);
}