<div class="row">
  <!-- <div class="col-md-3 text-center p-2"> <a [routerLink]="[ '/formation' ]" class="btn-1 btn-style btn-animated">Formation</a> </div> -->
  <div class="col-md-3 text-center p-2">
    <button [routerLink]="[ '/formation' ]" class="rkmd-btn btn-cyan ripple-effect">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>Formation
    </button>
  </div>
  <div class="col-md-3 text-center p-2">
      <button [routerLink]="[ '/experience' ]" class="rkmd-btn btn-lightBlue ripple-effect">
        <i class="fa fa-code" aria-hidden="true"></i>Experience
      </button>
    </div>
  <div class="col-md-3 text-center p-2">
      <button [routerLink]="[ '/contact' ]" class="rkmd-btn btn-deepPurple ripple-effect">
        <i class="fa fa-comments" aria-hidden="true"></i>Contact Me
      </button>
    </div>
  <div class="col-md-3 text-center p-2">
      <button [routerLink]="[ '/formation' ]" class="rkmd-btn btn-teal ripple-effect">
        <i class="fa fa-info-circle" aria-hidden="true"></i>More about me
      </button>
    </div>
</div>